body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; 
}

.grid-row {
  display: flex;
}

.node {
  height: 12px;
  width: 12px;
  background: #dcedff;
  border: 1px solid lightgray;
}

.node-start {
  background: #b9f18c;
}

.node-end {
  background: #fe5f55;
}

.node-visited {
  background: #387D7A !important;
}
