body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; 
}

.pane {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #86b5f3
}

.grid-row {
  display: flex;
}

.node {
  height: 20px;
  width: 20px;
  background: #dcedff;
  border: 1px solid gray;
}

.node-start {
  background: #b9f18c !important;
}

.node-end {
  background: #fe5f55 !important;
}

.node-visited {
  background: #66d1cc;
}

.node-shortest {
  background: rgb(255, 255, 143)
}

.node-wall {
  background: black
}

.btn {
  padding: 7px;
  margin-left: 3px;
}